<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>达尔优游戏耳机</title>
        <meta name="description" content="达尔优游戏耳机" />
        <meta name="keywords" content="达尔优耳机,游戏耳机,耳机,无线耳机,有线耳机,达尔优外设" />
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/bootstrap.min.css?t=1469462008" /><link rel="stylesheet" type="text/css" href="/static/template/pc/skin/icon/iconfont.css?t=1618314996" /><link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/common.css?t=1568875134" /><link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/style.css?t=1618324499" /><script type="text/javascript" src="/static/template/pc/skin/js/jquery.min.js?t=1565456270"></script><script type="text/javascript" src="/static/template/pc/skin/js/bootstrap.min.js?t=1469462010"></script><script type="text/javascript" src="/static/template/pc/skin/js/layer/layer.js?t=1512475046"></script><script type="text/javascript" src="/static/template/pc/skin/js/common.js?t=1618317018"></script></head>
<body>
 <!-- 头部 开始-->

 <script type="text/javascript" src="/static/template/pc/skin/js/traditiona.js?t=1568205548"></script>
    <header class='header'>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1 hidden="">达尔优品牌官方网站</h1>
                    <div class="navbar-header pull-xs-left">
                       <a href="https://cn.dareu.com/" class="navbar-logo vertical-align block pull-xs-left" title="达尔优品牌官方网站">
                        <div class="vertical-align-middle">

                         <div class="logo" ></div>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 clear-col-m top-r">
                    <div class="top-icon">
                    <span class="icon iconfont icon-sousuo" id="search"></span>
                    <span id="lanmu" class="icon iconfont icon--lanmuguanli"></span>
                    <!--  -->
                    <div class="dropdown">
                      <button id="dLabel" class= "lan" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LNG
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dLabel">
                       <li><a href="javascript:window.location.href='/';javascript:zh_tran('s');" class="zh_click" id="zh_click_s">简体</a></li>
                       <li><a href="javascript:window.location.href='/';javascript:zh_tran('t');" class="zh_click" id="zh_click_t">繁體</a></li>
                       <li><a href="https://www.dareu.com/">En</a></li>
                      </ul>
                    </div>
                    </div>
                </div>
            </div>
            <div class="search">
                            <form method="get" action="/?m=home&c=Search&a=lists">
                      <input type="hidden" name="m" value="home" /><input type="hidden" name="c" value="Search" /><input type="hidden" name="a" value="lists" />                      <div class="input-qudong">
                  <input type="text" class="form-control-qd" placeholder="请输入关键词" id="keywords" onFocus="this.value=''" name="keywords"  onBlur="if(!value){value=defaultValue}" >
                    <span class="icon iconfont icon-sousuo qd-s-b" id="search" ></span>
                </div>
                </form>
                    </div>
        </div>
        <!-- 下拉栏目 开始-->
        <div class="down-lanmu">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12">
                         <ul class="nav nav-pills row">
                            <li role="presentation" class="active col-xs-3">
                                <a href="#newproducts" data-toggle="tab">
                                                                      新品                                </a>
                                <span class="iconfont icon icon-sanjiaoxia"></span>
                            </li>
                            <li role="presentation"  class="col-xs-3">
                                <a href="#products" data-toggle="tab">
                                                                    产品展示                                </a>
                                <span class="iconfont icon icon-sanjiaoxia"></span>
                            </li>
                            <li role="presentation" class="col-xs-3">
                                <a href="#internetbar" data-toggle="tab">
                                                                    网咖方案                                </a>
                                <span class="iconfont icon icon-sanjiaoxia"></span>
                            </li>
                            <li role="presentation" class="col-xs-3">
                                <a href="#electronic" data-toggle="tab">
                                                                    电子竞技                                </a>
                                <span class="iconfont icon icon-sanjiaoxia"></span>
                            </li>
                         </ul>
                     </div>
                     <div class="tab-content tab-hover">
                        <div class="tab-pane row active" id="newproducts">
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=1003'><img src="/static/uploads/thumb/200_200/1-220Z11P93H25.png" alt="A730方舟号" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=1003'><h4>A730方舟号</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=978'><img src="/static/uploads/thumb/200_200/1-220Z21T9523I.png" alt="小方糖Z82办公无线机械键盘" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=978'><h4>小方糖Z82办公无线机械键盘</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=938'><img src="/static/uploads/thumb/200_200/1-22101013445K27.png" alt="A81有线机械键盘" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=938'><h4>A81有线机械键盘</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=921'><img src="/static/uploads/thumb/200_200/1-211025143529347.png" alt="A98三模机械键盘" class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=921'><h4>A98三模机械键盘</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=919&amp;admin_id=1&amp;t=1634552351'><img src="/static/uploads/thumb/200_200/1-21102514354M43.png" alt="A900" class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=919&amp;admin_id=1&amp;t=1634552351'><h4>A900</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=915'><img src="/static/uploads/thumb/200_200/1-2110231P214R3.png" alt="A710 5.8G无线耳机" class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=915'><h4>A710 5.8G无线耳机</h4></a>
                            </div>
                                                    </div>
                        <div class="tab-pane row"  id="products">
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=21'><img src="/static/uploads/thumb/200_200/7dc73d7c429f2c989021060f7a18bb3f.png" alt="游戏鼠标" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=21'><h4>游戏鼠标</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=20'><img src="/static/uploads/thumb/200_200/1-1Z9251534354W.png" alt="游戏键盘" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=20'><h4>游戏键盘</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=22'><img src="/static/uploads/thumb/200_200/02635940b61428455c55f6a79b29d3bd.png" alt="游戏耳机" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=22'><h4>游戏耳机</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=54'><img src="/static/uploads/thumb/200_200/1-210R3141340225.png" alt="蓝牙耳机" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=54'><h4>蓝牙耳机</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=56'><img src="/static/uploads/thumb/200_200/6ab9165b92dbab0c009db7ae40544d87.png" alt="办公系列" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=56'><h4>办公系列</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=128'><img src="/static/uploads/thumb/200_200/1-210305141454c9.jpeg" alt="达尔优电竞馆" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=128'><h4>达尔优电竞馆</h4></a>
                            </div>
                                                    </div>
                        <div class="tab-pane row" id="internetbar">
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=100'><img src="/static/uploads/thumb/200_200/1-1ZZ60Z63D23.png" alt="网吧鼠标" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=100'><h4>网吧鼠标</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=102'><img src="/static/uploads/thumb/200_200/1-1ZZ60ZTWc.png" alt="网咖键盘" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=102'><h4>网咖键盘</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=104'><img src="/static/uploads/thumb/200_200/1-1ZZ6091006345.png" alt="网咖耳机" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=104'><h4>网咖耳机</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=106'><img src="/static/uploads/thumb/200_200/1-1ZZ6091111491.png" alt="网咖周边" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=106'><h4>网咖周边</h4></a>
                            </div>
                                                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=108'><img src="/static/uploads/thumb/200_200/1-1ZZ6091230917.png" alt="网咖套装" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=108'><h4>网咖套装</h4></a>
                            </div>
                                                    </div>
                        <div class="tab-pane row" id="electronic">
                                                    </div>
                    </div>
                 </div>
             </div>
             <div class="clear"></div>
        </div>
        <!-- 下拉栏目 结束-->
    </header>
<!-- 头部 结束-->
<div class="header-m"></div>
<div class="header-m2"></div>
 <div class="top-er-nav hidden-xs"><!-- <img src="/static/uploads/allimg/20190817/fa26b1d7e9302fe08a05a4314d5ac158.png" alt=""> -->
    <a href="/?m=home&c=Lists&a=index&tid=21" >游戏鼠标</a></li>
<a href="/?m=home&c=Lists&a=index&tid=20" >游戏键盘</a></li>
<a href="/?m=home&c=Lists&a=index&tid=22" >游戏耳机</a></li>
<a href="/?m=home&c=Lists&a=index&tid=54" >蓝牙耳机</a></li>
<a href="/?m=home&c=Lists&a=index&tid=56" >办公系列</a></li>
<a href="/?m=home&c=Lists&a=index&tid=128" >达尔优电竞馆</a></li>
 </div>
<!-- banner 开始-->
    <div class="banner-ny">
       <img src="/static/uploads/allimg/20190928/1-1Z92Q00H3L3.jpg" alt="暗夜流光" class="img-responsive" />
       <div class="pro-wenan">
         <div class="middle">
          <h3>游戏耳机</h3>
         <h2>暗夜流光</h2>
         <h4></h4>
         </div>
       </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><p  class="dec">舒适耐用，最重要的是我们在设计上最坚持的理念。
达尔优全系列产品包含入耳式，挂耳式，耳罩式立体声及全罩式7.1耳机。</p></div>
        <div class="col-md-2"></div>
      </div>
      <div class="row">
          <div class="container screen">
              <div class="row">
                <div class="col-xs-12 clear-col-m">
                  <ul class="nav1">
                    <li data-multifilter="all" class="all active1">All products</li>
                    <li data-multifilter="1" class="other">有线</li>
                    <li data-multifilter="2" class="other">无线</li>
                    <li data-multifilter="3" class="other">头戴</li>
                    <li data-multifilter="4" class="other">入耳</li>
                    <li data-multifilter="5" class="other">颈挂式</li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
    </div>
<!-- banner 结束-->
<!-- 产品列表 开始-->
  <div class="container-fuild">
    <div class="row clear-row-m">
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=98" title="EH925">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/c9d2b6b9847af03d6d23202eb345dbea.png" alt="EH925"  class="img-responsive pro-98"/></div>
        <h4 class="pro-list-title">EH925</h4>
        <span class="pro-list-vicetitle">降噪版游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="98" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="2,3,">
        <a href="/?m=home&c=View&a=index&aid=915" title="A710 5.8G无线耳机">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-210925112410Y2.jpeg" alt="A710 5.8G无线耳机"  class="img-responsive pro-915"/></div>
        <h4 class="pro-list-title">A710 5.8G无线耳机</h4>
        <span class="pro-list-vicetitle">        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="915" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,5">
        <a href="/?m=home&c=View&a=index&aid=995" title="   EH732游戏耳机">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-220GZU1409E.png" alt="   EH732游戏耳机"  class="img-responsive pro-995"/></div>
        <h4 class="pro-list-title">   EH732游戏耳机</h4>
        <span class="pro-list-vicetitle">个性全新配色  7.1虚拟音效  RGB流光        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="995" color="e60012" data-color="/static/uploads/allimg/20220718/1-220GQ52253246.png" style="background-color: #e60012;"></span>
        <span class="color-v iconfont icon" data-id="995" color="0114ca" data-color="/static/uploads/allimg/20220718/1-220GQ64926336.png" style="background-color: #0114ca;"></span>
        <span class="color-v iconfont icon" data-id="995" color="ffea00" data-color="/static/uploads/allimg/20220719/1-220GZU105X0.png" style="background-color: #ffea00;"></span>
        <span class="color-v iconfont icon" data-id="995" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="995" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="995" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=608" title="EH925-国家宝藏">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-200R4162R2b3.png" alt="EH925-国家宝藏"  class="img-responsive pro-608"/></div>
        <h4 class="pro-list-title">EH925-国家宝藏</h4>
        <span class="pro-list-vicetitle">国家宝藏主题版游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="608" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=202" title="EH721">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91F92543139.jpeg" alt="EH721"  class="img-responsive pro-202"/></div>
        <h4 class="pro-list-title">EH721</h4>
        <span class="pro-list-vicetitle">入门级游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="202" color="06a4ff" data-color="/static/uploads/allimg/20190917/1-1Z91F92G9634.jpg" style="background-color: #06a4ff;"></span>
        <span class="color-v iconfont icon" data-id="202" color="ff3535" data-color="/static/uploads/allimg/20190917/1-1Z91F92P04O.jpg" style="background-color: #ff3535;"></span>
        <span class="color-v iconfont icon" data-id="202" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="202" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="202" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="202" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=201" title="EH726">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z9161FA1a4.jpeg" alt="EH726"  class="img-responsive pro-201"/></div>
        <h4 class="pro-list-title">EH726</h4>
        <span class="pro-list-vicetitle">时尚潮流游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="201" color="f813ff" data-color="/static/uploads/allimg/20190916/1-1Z9161FS0218.jpg" style="background-color: #f813ff;"></span>
        <span class="color-v iconfont icon" data-id="201" color="000000" data-color="/static/uploads/allimg/20190916/1-1Z9161FUc50.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="201" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="201" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="201" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="201" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="2,3,">
        <a href="/?m=home&c=View&a=index&aid=658" title="A700 2.4G无线畅想">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-201030155HO32.png" alt="A700 2.4G无线畅想"  class="img-responsive pro-658"/></div>
        <h4 class="pro-list-title">A700 2.4G无线畅想</h4>
        <span class="pro-list-vicetitle">游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="658" color="" data-color="" style="background-color: #;"></span>
        </div>
                <div class="new">
          NEW
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=100" title="EH722 升级版">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/df725e239e833a2a8a75e9271877e9eb.png" alt="EH722 升级版"  class="img-responsive pro-100"/></div>
        <h4 class="pro-list-title">EH722 升级版</h4>
        <span class="pro-list-vicetitle">舒适型游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="100" color="000000" data-color="/static/uploads/allimg/20190917/1-1Z91H12001511.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="100" color="ff4b4f" data-color="/static/uploads/allimg/20190917/1-1Z91H12029623.jpg" style="background-color: #ff4b4f;"></span>
        <span class="color-v iconfont icon" data-id="100" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="100" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="100" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="100" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=101" title="EH722">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91H23136107.jpeg" alt="EH722"  class="img-responsive pro-101"/></div>
        <h4 class="pro-list-title">EH722</h4>
        <span class="pro-list-vicetitle">钻石版游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="101" color="000000" data-color="/static/uploads/allimg/20190910/1-1Z910195314T8.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="101" color="ffffff" data-color="/static/uploads/allimg/20190910/1-1Z91019532J06.jpg" style="background-color: #ffffff;"></span>
        <span class="color-v iconfont icon" data-id="101" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="101" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="101" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="101" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,">
        <a href="/?m=home&c=View&a=index&aid=104" title="EH725">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z910163322107.jpeg" alt="EH725"  class="img-responsive pro-104"/></div>
        <h4 class="pro-list-title">EH725</h4>
        <span class="pro-list-vicetitle">舒适型游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="104" color="12a2fc" data-color="/static/uploads/allimg/20190910/1-1Z910163333346.jpg" style="background-color: #12a2fc;"></span>
        <span class="color-v iconfont icon" data-id="104" color="ff1615" data-color="/static/uploads/allimg/20190910/1-1Z910163341639.jpg" style="background-color: #ff1615;"></span>
        <span class="color-v iconfont icon" data-id="104" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="104" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="104" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="104" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=103" title="EH732">
        <div class="pro-img"><img  src="/static/static/uploads/thumb/605_605/1-1Z91G102391U.jpeg" alt="EH732"  class="img-responsive pro-103"/></div>
        <h4 class="pro-list-title">EH732</h4>
        <span class="pro-list-vicetitle">HIFI级游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="103" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=105" title="EH715">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/3db81fe0a6ab7325b015b3673c7c78f2.png" alt="EH715"  class="img-responsive pro-105"/></div>
        <h4 class="pro-list-title">EH715</h4>
        <span class="pro-list-vicetitle">入门级发光耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="105" color="fc611c" data-color="/static/uploads/allimg/20190909/1-1ZZ911451B41.jpg" style="background-color: #fc611c;"></span>
        <span class="color-v iconfont icon" data-id="105" color="f71524" data-color="/static/uploads/allimg/20190909/1-1ZZ9114KK12.jpg" style="background-color: #f71524;"></span>
        <span class="color-v iconfont icon" data-id="105" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="105" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="105" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="105" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=106" title="EH736">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91G64416310.jpeg" alt="EH736"  class="img-responsive pro-106"/></div>
        <h4 class="pro-list-title">EH736</h4>
        <span class="pro-list-vicetitle">发光耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="106" color="ff5a08" data-color="/static/uploads/allimg/20190917/1-1Z91G64410X8.jpg" style="background-color: #ff5a08;"></span>
        <span class="color-v iconfont icon" data-id="106" color="e51c1d" data-color="/static/uploads/allimg/20190917/1-1Z91G6435a22.jpg" style="background-color: #e51c1d;"></span>
        <span class="color-v iconfont icon" data-id="106" color="ffffff" data-color="/static/uploads/allimg/20190917/1-1Z91G64511c3.jpg" style="background-color: #ffffff;"></span>
        <span class="color-v iconfont icon" data-id="106" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="106" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="106" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=207" title="EH722 RGB版">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91R0414R57.jpeg" alt="EH722 RGB版"  class="img-responsive pro-207"/></div>
        <h4 class="pro-list-title">EH722 RGB版</h4>
        <span class="pro-list-vicetitle">游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="207" color="000000" data-color="/static/uploads/allimg/20190917/1-1Z91H03259316.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="207" color="ffffff" data-color="/static/uploads/allimg/20190917/1-1Z91H0334L52.jpg" style="background-color: #ffffff;"></span>
        <span class="color-v iconfont icon" data-id="207" color="ff97a7" data-color="/static/uploads/allimg/20190917/1-1Z91H03449A0.jpg" style="background-color: #ff97a7;"></span>
        <span class="color-v iconfont icon" data-id="207" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="207" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="207" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=102" title="EH739">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/861169f3f1dccd7aeee5a5ca67f00836.png" alt="EH739"  class="img-responsive pro-102"/></div>
        <h4 class="pro-list-title">EH739</h4>
        <span class="pro-list-vicetitle">游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="102" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=99" title="EH755">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/53fa551599f784c4ff31daaa74d96993.png" alt="EH755"  class="img-responsive pro-99"/></div>
        <h4 class="pro-list-title">EH755</h4>
        <span class="pro-list-vicetitle">Hi-Fi电竞游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="99" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,4,">
        <a href="/?m=home&c=View&a=index&aid=211" title="EH728 Pro">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91Q51J1Y7.jpeg" alt="EH728 Pro"  class="img-responsive pro-211"/></div>
        <h4 class="pro-list-title">EH728 Pro</h4>
        <span class="pro-list-vicetitle">入耳式游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="211" color="07b4fc" data-color="/static/uploads/allimg/20190918/1-1Z91Q51I2239.jpg" style="background-color: #07b4fc;"></span>
        <span class="color-v iconfont icon" data-id="211" color="f30a0c" data-color="/static/uploads/allimg/20190918/1-1Z91Q54641212.jpg" style="background-color: #f30a0c;"></span>
        <span class="color-v iconfont icon" data-id="211" color="efefef" data-color="/static/uploads/allimg/20190918/1-1Z91Q51T34A.jpg" style="background-color: #efefef;"></span>
        <span class="color-v iconfont icon" data-id="211" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="211" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="211" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="2,4,5">
        <a href="/?m=home&c=View&a=index&aid=221" title="盗梦人728">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91Q9462IW.jpeg" alt="盗梦人728"  class="img-responsive pro-221"/></div>
        <h4 class="pro-list-title">盗梦人728</h4>
        <span class="pro-list-vicetitle">无线蓝牙游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="221" color="000000" data-color="/static/uploads/allimg/20190918/1-1Z91Q94F1T9.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="221" color="455e97" data-color="/static/uploads/allimg/20190918/1-1Z91Q94J4101.jpg" style="background-color: #455e97;"></span>
        <span class="color-v iconfont icon" data-id="221" color="f04c56" data-color="/static/uploads/allimg/20190918/1-1Z91Q94P91U.jpg" style="background-color: #f04c56;"></span>
        <span class="color-v iconfont icon" data-id="221" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="221" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="221" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="2,3,">
        <a href="/?m=home&c=View&a=index&aid=225" title="盗梦人765">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-1Z91R04010644.jpeg" alt="盗梦人765"  class="img-responsive pro-225"/></div>
        <h4 class="pro-list-title">盗梦人765</h4>
        <span class="pro-list-vicetitle">无线蓝牙游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="225" color="000000" data-color="/static/uploads/allimg/20190918/1-1Z91R106254D.jpg" style="background-color: #000000;"></span>
        <span class="color-v iconfont icon" data-id="225" color="653fa0" data-color="/static/uploads/allimg/20190918/1-1Z91R10633V1.jpg" style="background-color: #653fa0;"></span>
        <span class="color-v iconfont icon" data-id="225" color="ff5d4f" data-color="/static/uploads/allimg/20190918/1-1Z91R10A91I.jpg" style="background-color: #ff5d4f;"></span>
        <span class="color-v iconfont icon" data-id="225" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="225" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="225" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
          <div class="col-md-4 list-pro-b-m filtr-item" data-category="1,3,">
        <a href="/?m=home&c=View&a=index&aid=363" title="EH702">
        <div class="pro-img"><img  src="/static/uploads/thumb/605_605/1-191022100350H2.jpeg" alt="EH702"  class="img-responsive pro-363"/></div>
        <h4 class="pro-list-title">EH702</h4>
        <span class="pro-list-vicetitle">游戏耳机        </span>
        </a>
        <div class="color-list">
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        <span class="color-v iconfont icon" data-id="363" color="" data-color="" style="background-color: #;"></span>
        </div>
              </div>
        </div>
  </div>
<!-- 产品列表 结束-->
<!-- 底部白色筛选 开始-->
<div class="pro-canshu-title">游戏耳机</div>
<div class="canshu-sx">
  <div class="container-fuild ">
    <div class="row clear-row-m p-lr-50">
      <div class="col-md-2 clear-col-m">
        <div class="pro-scr-img"></div>
        <div class="select"></div>
        <ul class="h-list">
          <li>连接类型</li>
          <li>阻抗</li>
          <li>喇叭</li>
          <li>麦克风</li>
          <li>灯光模式</li>
          <li>线控调节</li>
          <li>驱动</li>
          <li>其他</li>
        </ul>
      </div>
      <div class="col-md-2 clear-col-m" id="n1">
        <div class="pro-scr-img eyou-edit"  e-id="31" e-page='lists_product' e-type="upload">
                 <img src="/static/template/pc/skin/img/EH715.png" alt="" class="img-responsive" />
                </div>
        <div  class="select eyou-edit"  e-id="32" e-page='lists_product' e-type="text">
                   <select class="form-control " data-id="n1">
            <option value="n1">EH715U</option>
            <option value="n2">EH722U </option>
            <option value="n3">EH726U</option>
            <option value="n4">EH722升级版</option>
            <option value="n5">EH925降噪版</option>
          </select>
                  </div>
        <ul class="eyou-edit"  e-id="2121" e-page='lists_product' e-type="text">
                   <li>有线单USB</li>
          <li>32 Ω</li>
          <li>40mm</li>
          <li>固定</li>
          <li>单色呼吸灯光模式</li>
          <li>无</li>
          <li>免驱</li>
          <li></li>
                  </ul>
      </div>
      <div class="col-md-2 clear-col-m" id="n2">
        <div class="pro-scr-img eyou-edit"  e-id="33" e-page='lists_product' e-type="upload">
          <img src="/static/template/pc/skin/img/EH722.png" alt="" class="img-responsive" /></div>
        <div  class="select eyou-edit"  e-id="34" e-page='lists_product' e-type="text">
                   <select class="form-control" data-id="n2">
            <option value="n2">EH722U </option>
            <option value="n1">EH715U</option>
            <option value="n3">EH726U</option>
            <option value="n4">EH722升级版</option>
            <option value="n5">EH925降噪版</option>
          </select>
                  </div>
        <ul class="eyou-edit"  e-id="2122" e-page='lists_product' e-type="text">
                   <li>有线单USB</li>
          <li>32 Ω</li>
          <li>50mm</li>
          <li>固定</li>
          <li>可调多种灯光模式</li>
          <li>无</li>
          <li>支持</li>
          <li>3.5+USB接口可选</li>
                  </ul>
      </div>
      <div class="col-md-2 clear-col-m" id="n3">
        <div class="pro-scr-img eyou-edit"  e-id="35" e-page='lists_product' e-type="upload">
         <img src="/static/template/pc/skin/img/EH726.png" alt="" class="img-responsive" /></div>
        <div  class="select eyou-edit"  e-id="36" e-page='lists_product' e-type="text">
                   <select class="form-control" data-id="n3">
            <option value="n3">EH726U</option>
            <option value="n2">EH722U </option>
            <option value="n1">EH715U</option>
            <option value="n4">EH722升级版</option>
            <option value="n5">EH925降噪版</option>
          </select>
                  </div>
        <ul class="eyou-edit"  e-id="2123" e-page='lists_product' e-type="text">
                   <li>有线单USB</li>
          <li>32 Ω</li>
          <li>50mm</li>
          <li>固定</li>
          <li>可调多种灯光模式</li>
          <li>有线控/无</li>
          <li>支持</li>
          <li>3.5mm接口可选</li>
                  </ul>
      </div>
      <div class="col-md-2 clear-col-m" id="n4">
        <div class="pro-scr-img eyou-edit"  e-id="37" e-page='lists_product' e-type="upload">
         <img src="/static/template/pc/skin/img/EH722-u.png" alt="" class="img-responsive" /></div>
        <div  class="select eyou-edit"  e-id="38" e-page='lists_product' e-type="text">
                   <select class="form-control" data-id="n4">            <option value="n4">EH731</option>            <option value="n3">EH726U</option>            <option value="n2">EH722U </option>            <option value="n1">EH715U</option>            <option value="n5">EH925降噪版</option>          </select>        </div>
        <ul class="eyou-edit"  e-id="2124" e-page='lists_product' e-type="text">
                 <li>有线单USB</li>          <li>64Ω</li>          <li>53mm</li>          <li>插拔式</li>          <li>可调多种灯光模式</li>          <li>有线控</li>          <li>支持驱动</li>          <li></li>        </ul>
      </div>
      <div class="col-md-2 clear-col-m" id="n5">
        <div class="pro-scr-img eyou-edit"  e-id="39" e-page='lists_product' e-type="upload">
         <img src="/static/template/pc/skin/img/EH925.png" alt="" class="img-responsive" /></div>
        <div  class="select last-select eyou-edit"  e-id="40" e-page='lists_product' e-type="text">
                   <select class="form-control" data-id="n5">
            <option value="n5">EH925降噪版</option>
            <option value="n4">EH722升级版</option>
            <option value="n3">EH726U</option>
            <option value="n2">EH722U </option>
            <option value="n1">EH715U</option>
          </select>
                  </div>
        <ul class="eyou-edit"  e-id="2125" e-page='lists_product' e-type="text">
                   <li>有线单USB</li>
          <li>32 Ω</li>
          <li>53mm</li>
          <li>插拔式</li>
          <li>可调多种灯光模式</li>
          <li>有线控 </li>
          <li>支持</li>
          <li>支持DRS</li>
                  </ul>
      </div>
    </div>
  </div>
  <div class="container pay-list">
    <div class="row">
      <div class="col-md-12"><span class="pay-but">立即购买</span></div>
      <div class="col-md-4">
        <a href="https://mall.jd.com/index-1000000315.html"><img src="/static/template/pc/skin/img/pay_01.png" alt="京东" /></a>
      </div>
      <div class="col-md-4">
        <a href="https://daeryou.tmall.com"><img src="/static/template/pc/skin/img/pay_02.png" alt="京东" /></a>
      </div>
      <div class="col-md-4">
        <a href="https://detail.tmall.com/item.htm?spm=a230r.1.14.6.19eb1d5aWA5LXd&id=562974997690&cm_id=140105335569ed55e27b&abbucket=17&sku_properties=1627207:28341"><img src="/static/template/pc/skin/img/pay_03.png" alt="京东" /></a>
      </div>
    </div>
  </div>
</div>
<!-- 底部白色筛选 结束-->
 <!-- 底部菜单 开始-->
    <div class="bottom-nav">
    <div class="container-fuild bottom-container">
        <div class="row clear-row-m">
            <div class="col-lg-2"></div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-1">
                <dl>
                                            <dt>产品展示</dt>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=21" title="游戏鼠标">游戏鼠标</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=20" title="游戏键盘">游戏键盘</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=22" title="游戏耳机">游戏耳机</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=54" title="蓝牙耳机">蓝牙耳机</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=56" title="办公系列">办公系列</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=128" title="达尔优电竞馆">达尔优电竞馆</a></dd>
                                        </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-2">
                <dl>
                                            <dt>游戏</dt>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=60" title="电子竞技">电子竞技</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=62" title="伙伴计划">伙伴计划</a></dd>
                                        </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-3">
                <dl>
                                            <dt>驱动程序/支持</dt>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=66" title="驱动">驱动</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=68" title="支持">支持</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=70" title="隐私政策">隐私政策</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=72" title="条款和条约">条款和条约</a></dd>
                                        </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-4">
                <dl>
                                            <dt>关于我们</dt>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=82" title="达尔优简介">达尔优简介</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=2" title="新闻资讯">新闻资讯</a></dd>
                                                <dd><a href="/?m=home&c=Lists&a=index&tid=126" title="产品电子说明书">产品电子说明书</a></dd>
                                            <dd><a href="https://weibo.com/p/1006062949924650/home?from=page_100606&mod=TAB&is_all=1#place">新浪微博</a></dd>
                        <dd class="wechat">官方微信</dd>
                </dl>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    </div>
<!-- 底部菜单 结束-->
<!-- foot 开始-->
<div class="footer">
    <div class="footer-main">

                <div class='bottom-logo'></div>
                <div class="bottom-v-m">版权所有：东莞市铭冠电子科技有限公司 &nbsp;&nbsp; 电话：4006-810-510 <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号</a> <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-3</a>
 <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-4</a>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?b9ae385da42aa21b773785abdb868eaf";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script type="text/javascript">
document.write(unescape("%3Cspan id='cnzz_stat_icon_1261456925'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1261456925%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script></div>

    </div>
</div>
<!-- foot 结束-->
<script>
    $(function(){
        $('.wechat').click(function(w){
            layer.open({
  type: 1,
  title: false,
  closeBtn: 0,
  shadeClose: true,
  skin: 'yourclass',
  content: '<img src="/static/uploads/allimg/20190918/1-1Z91R14340534.png" alt="" class="img-responsive" width="200">'
});
        })
    })
//     var type=navigator.appName
// if(type == "Netscape")
// var lang = navigator.language
// 	else
// 		var  lang = navigator.userLanguage

// 	console.log(lang)

// 	var lang = lang.substr(0,2)

// 	if(lang == "zh")
// 	window.location.replace('https://www.dareu.com')

// 	else
// 	window.location.replace('https://en.dareu.com')
</script>

</body>
<script>
function exchange_element(a,b) {
    if(undefined == $(a).html()){
        return;
    }
    if(undefined == $(b).html()){
        return;
    }
    var $div1 = $(a);
    var $div3 = $(b);
    var $temobj1 = $("<div></div>");
    var $temobj2 = $("<div></div>");
    $temobj1.insertBefore($div1);
    $temobj2.insertBefore($div3);
    $div1.insertAfter($temobj2);
    $div3.insertAfter($temobj1);
    $temobj1.remove();
    $temobj2.remove();
}
$(function() {
  $('select').on('change',function(){
    var idb = $(this).attr('data-id');
    var idc = $(this).val();
    var bob = $("#"+idb);
    var cob = $("#"+idc);
    exchange_element(bob,cob);
     $(this).find("option").attr("selected",false);
  });
});
</script>
</html>