<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>达尔优品牌官方网站_达尔优品牌官方网站</title>
    <meta name="description" content="达尔优作为国内知名外设品牌，致力于创造更精良的外设装备，秉承着对外设、对电竞事业的追求与热爱，不断为用户以及职业选手提供更优秀的外设装备。
同时达尔优为促进国内电竞事业的发展，多次支持与赞助国内知名赛事（2017LPL合作伙伴、2018TGA大奖赛特约合作伙伴、2019UCL高校电竞联盟挑战赛赛事设备合作伙伴等）；与国内多支电竞战队合作（DMO电子竞技俱乐部、微博电子竞技俱乐部等）。" />
    <meta name="keywords" content="达尔优,达尔优品牌官方网站,KBS按键衡力系统, 达尔优机械师,牧马人鼠标,蓝牙键盘,达尔优A系列,轻量化鼠标,机械键盘,鼠标,键盘,游戏键盘,达尔优暗夜流光," />
    <link href="/static/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="anthor" content="天使猫信息科技，联系电话：15899666561" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/bootstrap.min.css?t=1469462008" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/icon/iconfont.css?t=1618314996" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/swiper.min.css?t=1565992104" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/index.css?t=1569216624" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/common.css?t=1568875134" />
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/style.css?t=1618324499" />
    <script type="text/javascript" src="/static/template/pc/skin/js/jquery.min.js?t=1565456270"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/bootstrap.min.js?t=1469462010"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/layer/layer.js?t=1512475046"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/swiper.min.js?t=1550892658"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/common.js?t=1618317018"></script>
</head>

<body>
    <!-- 头部 开始-->

    <script type="text/javascript" src="/static/template/pc/skin/js/traditiona.js?t=1568205548"></script>
    <header class='header'>
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <h1 hidden="">达尔优品牌官方网站</h1>
                    <div class="navbar-header pull-xs-left">
                        <a href="/index/" class="navbar-logo vertical-align block pull-xs-left" title="达尔优品牌官方网站">
                            <div class="vertical-align-middle">

                                <div class="logo"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 clear-col-m top-r">
                    <div class="top-icon">
                        <span class="icon iconfont icon-sousuo" id="search"></span>
                        <!--  -->
                        {% if not msg %}
                            <a href="login/" style="color: white; border-radius: 5px;text-align:center;
                        line-height:35px; float: right; height: 35px; width: 100px;">登录</a>
                        {% elif msg %}
                            <a href="/center/" style="color: white; border-radius: 5px;text-align:center;
                        line-height:35px; float: right; height: 35px; width: 100px;">{{ user }}</a>
                            <a href="/logout/" style="color: white; border-radius: 5px;text-align:center;
                        line-height:35px; float: right; height: 35px; width: 100px;">退出</a>

                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="search">
                <form method="get" action="/?m=home&c=Search&a=lists">
                    <input type="hidden" name="m" value="home" /><input type="hidden" name="c" value="Search" /><input type="hidden" name="a" value="lists" />
                    <div class="input-qudong">
                        <input type="text" class="form-control-qd" placeholder="请输入关键词" id="keywords" onFocus="this.value=''" name="keywords" onBlur="if(!value){value=defaultValue}">
                        <span class="icon iconfont icon-sousuo qd-s-b" id="search"></span>
                    </div>
                </form>
            </div>
        </div>
        <!-- 下拉栏目 开始-->

        <!-- 下拉栏目 结束-->
    </header>
    <!-- 头部 结束-->
    <div class="header-m"></div>
    <div class="header-m2"></div>
    <!-- banner 开始-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item  active">
                <a href='https://cn.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=978&amp;admin_id=1&amp;t=1662098115' target="_self"><img alt='小方糖系列' src='/static/uploads/allimg/20220902/1-220Z213535Y28.jpg' /></a>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item ">
                <a href='https://cn.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=921&amp;admin_id=1&amp;t=1662025980' target="_self"><img alt='釉下青套装' src='/static/uploads/allimg/20220901/1-220Z11K220X4.jpg' /></a>
                <div class="carousel-caption">

                </div>
            </div>
            <div class="item ">
                <a href='https://cn.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=1003' target="_self"><img alt='A730方舟号游戏耳机' src='/static/uploads/allimg/20220923/1-22092311152B39.png' /></a>
                <div class="carousel-caption">

                </div>
            </div>
        </div>

        <!-- Controls -->
<!--        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">-->
<!--            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--          </a>-->
<!--        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">-->
<!--            <span class="glyphicon  glyphicon-menu-right" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--          </a>-->
    </div>
    <!-- banner 结束-->
    <!-- 栏目 开始-->
    <div>

        <div class=" index-lm-title">
            <h2> 高品质游戏装备</h2>
            <P>体验优秀的游戏境界</P>
        </div>
        <div class="lanmu">
            <div class="swiper-button-next"><span class="iconfont icon icon-triangle-right"></span></div>
            <div class="lanmu-list swiper-container" style="overflow: hidden;">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href='/mouse/'>
                            <h2>游戏鼠标</h2>
                            <p>GAME MOUSE</p>
                            <img src="/static/uploads/allimg/20210427/1-21042F94206311.jpg" alt="" class="img-responsive"><span class="index-more">了解更多→</span></a>
                    </div>
                    <div class="swiper-slide">
                        <a href='/keyboard/'>
                            <h2>游戏键盘</h2>
                            <p>GAME KEYBOARD</p>
                            <img src="/static/uploads/allimg/20210426/1-2104261F3333M.jpg" alt="" class="img-responsive"><span class="index-more">了解更多→</span></a>
                    </div>
                    <div class="swiper-slide">
                        <a href='/headsets/'>
                            <h2>游戏耳机</h2>
                            <p>GAME HEADSETS</p>
                            <img src="/static/uploads/allimg/20210426/1-2104261F342c6.jpg" alt="" class="img-responsive"><span class="index-more">了解更多→</span></a>
                    </div>
                    <div class="swiper-slide">
                        <a href=''>
                            <h2>显示器</h2>
                            <p>BLUETOOTH HEADSET</p>
                            <img src="/static/uploads/allimg/20210823/1-210R3135202919.jpg" alt="" class="img-responsive"><span class="index-more">了解更多→</span></a>
                    </div>
                    <div class="swiper-slide">
                        <a href='/?m=home&c=Lists&a=index&tid=128'>
                            <h2>更多优惠</h2>
                            <p>MORE DISCOUNT</p>
                            <img src="/static/uploads/allimg/20210225/1-210225095622U6.jpg" alt="" class="img-responsive"><span class="index-more">了解更多→</span></a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"><span class="iconfont icon icon-triangle-left"></span></div>
        </div>


    </div>
    <div class="clear"></div>
    <div class="index-marm"></div>
    <!-- 栏目 结束-->


    <!-- 底部菜单 开始-->
    <div class="bottom-nav">
        <div class="container-fuild bottom-container">
            <div class="row clear-row-m">
                <div class="col-lg-2"></div>
                <div class="col-md-3 col-lg-2 col-xs-12 bt-1">
                    <dl>
                        <dt>产品展示</dt>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=21" title="游戏鼠标">游戏鼠标</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=20" title="游戏键盘">游戏键盘</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=22" title="游戏耳机">游戏耳机</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=54" title="蓝牙耳机">蓝牙耳机</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=56" title="办公系列">办公系列</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=128" title="达尔优电竞馆">达尔优电竞馆</a></dd>
                    </dl>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-12 bt-2">
                    <dl>
                        <dt>游戏</dt>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=60" title="电子竞技">电子竞技</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=62" title="伙伴计划">伙伴计划</a></dd>
                    </dl>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-12 bt-3">
                    <dl>
                        <dt>驱动程序/支持</dt>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=66" title="驱动">驱动</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=68" title="支持">支持</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=70" title="隐私政策">隐私政策</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=72" title="条款和条约">条款和条约</a></dd>
                    </dl>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-12 bt-4">
                    <dl>
                        <dt>关于我们</dt>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=82" title="达尔优简介">达尔优简介</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=2" title="新闻资讯">新闻资讯</a></dd>
                        <dd><a href="/?m=home&c=Lists&a=index&tid=126" title="产品电子说明书">产品电子说明书</a></dd>
                        <dd><a href="https://weibo.com/p/1006062949924650/home?from=page_100606&mod=TAB&is_all=1#place">新浪微博</a></dd>
                        <dd class="wechat">官方微信</dd>
                    </dl>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
    <!-- 底部菜单 结束-->
    <!-- foot 开始-->
    <div class="footer">
        <div class="footer-main">

            <div class='bottom-logo'></div>
            <div class="bottom-v-m">版权所有：东莞市铭冠电子科技有限公司 &nbsp;&nbsp; 电话：4006-810-510 <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号</a> <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-3</a>
                <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-4</a>
                <script>
                    var _hmt = _hmt || [];
                    (function() {
                        var hm = document.createElement("script");
                        hm.src = "https://hm.baidu.com/hm.js?b9ae385da42aa21b773785abdb868eaf";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);
                    })();
                </script>
                <script type="text/javascript">
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1261456925'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1261456925%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </div>

        </div>
    </div>
    <!-- foot 结束-->
    <script>
        $(function() {
            $('.wechat').click(function(w) {
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    shadeClose: true,
                    skin: 'yourclass',
                    content: '<img src="/static/uploads/allimg/20190918/1-1Z91R14340534.png" alt="" class="img-responsive" width="200">'
                });
            })
        })
        //     var type=navigator.appName
        // if(type == "Netscape")
        // var lang = navigator.language
        // 	else
        // 		var  lang = navigator.userLanguage

        // 	console.log(lang)

        // 	var lang = lang.substr(0,2)

        // 	if(lang == "zh")
        // 	window.location.replace('https://www.dareu.com')

        // 	else
        // 	window.location.replace('https://en.dareu.com')
    </script>

</body>
<script>
    var w1 = $(window).width();
    var n2;
    var t;
    if (w1 > 1400) {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            spaceBetween: 30,
            loopFillGroupWithBlank: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }
    if (992 < w1 && w1 < 1400) {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            spaceBetween: 30,
            loopFillGroupWithBlank: true,

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }
    if (552 < w1 && w1 < 992) {
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 2,
            spaceBetween: 30,
            loopFillGroupWithBlank: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }
    if (552 > w1) {
        var swiper = new Swiper('.swiper-container', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    }

    var n = 4;
    var t2;
    $(window).resize(function() { //当浏览器大小变化时
        var w = $(window).width();
        if (w > 1400) {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 4,
                spaceBetween: 30,
                loopFillGroupWithBlank: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
        if (992 < w && w < 1400) {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                spaceBetween: 30,
                loopFillGroupWithBlank: true,

                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
        if (552 < w && w < 992) {
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 2,
                spaceBetween: 30,
                loopFillGroupWithBlank: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
        if (552 > w) {
            var swiper = new Swiper('.swiper-container', {
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        }
    });
</script>

</html>