<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>达尔优游戏鼠标</title>
    <meta name="description" content="达尔优游戏鼠标"/>
    <meta name="keywords" content="达尔优游戏鼠标,达尔优牧马人游戏鼠标,游戏鼠标,鼠标,达尔优牧马人"/>
    <link href="/static/uploads/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta name="anthor" contet="天使猫信息科技，联系电话：15899666561"/>
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/bootstrap.min.css?t=1469462008"/>
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/icon/iconfont.css?t=1618314996"/>
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/common.css?t=1568875134"/>
    <link rel="stylesheet" type="text/css" href="/static/template/pc/skin/css/style.css?t=1618324499"/>
    <script type="text/javascript" src="/static/template/pc/skin/js/jquery.min.js?t=1565456270"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/bootstrap.min.js?t=1469462010"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/layer/layer.js?t=1512475046"></script>
    <script type="text/javascript" src="/static/template/pc/skin/js/common.js?t=1618317018"></script>
</head>
<body>

<script type="text/javascript" src="/static/template/pc/skin/js/traditiona.js?t=1568205548"></script>
<header class='header'>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <h1 hidden="">达尔优品牌官方网站</h1>
                <div class="navbar-header pull-xs-left">
                    <a href="https://cn.dareu.com/?lang=cn%5C/" class="navbar-logo vertical-align block pull-xs-left"
                       title="达尔优品牌官方网站">
                        <div class="vertical-align-middle">

                            <div class="logo"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 clear-col-m top-r">
                <div class="top-icon">
                    <span class="icon iconfont icon-sousuo" id="search"></span>
                    <span id="lanmu" class="icon iconfont icon--lanmuguanli"></span>
                    <!--  -->
                    <div class="dropdown">
                        <button id="dLabel" class="lan" type="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                            LNG
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dLabel">
                            <li><a href="javascript:window.location.href='/';javascript:zh_tran('s');" class="zh_click"
                                   id="zh_click_s">简体</a></li>
                            <li><a href="javascript:window.location.href='/';javascript:zh_tran('t');" class="zh_click"
                                   id="zh_click_t">繁體</a></li>
                            <li><a href="https://www.dareu.com/">En</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="search">
            <form method="get" action="/?m=home&c=Search&a=lists&lang=cn%5C">
                <input type="hidden" name="m" value="home"/><input type="hidden" name="c" value="Search"/><input
                    type="hidden" name="a" value="lists"/><input type="hidden" name="lang" value="cn\"/>
                <div class="input-qudong">
                    <input type="text" class="form-control-qd" placeholder="" id="keywords" onFocus="this.value=''"
                           name="keywords" onBlur="if(!value){value=defaultValue}">
                    <span class="icon iconfont icon-sousuo qd-s-b" id="search"></span>
                </div>
            </form>
        </div>
    </div>
    <!-- 下拉栏目 开始-->
    <div class="down-lanmu">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills row">
                        <li role="presentation" class="active col-xs-3">
                            <a href="#newproducts" data-toggle="tab">
                                新品 </a>
                            <span class="iconfont icon icon-sanjiaoxia"></span>
                        </li>
                        <li role="presentation" class="col-xs-3">
                            <a href="#products" data-toggle="tab">
                                产品展示 </a>
                            <span class="iconfont icon icon-sanjiaoxia"></span>
                        </li>
                        <li role="presentation" class="col-xs-3">
                            <a href="#internetbar" data-toggle="tab">
                                网咖方案 </a>
                            <span class="iconfont icon icon-sanjiaoxia"></span>
                        </li>
                        <li role="presentation" class="col-xs-3">
                            <a href="#electronic" data-toggle="tab">
                                电子竞技 </a>
                            <span class="iconfont icon icon-sanjiaoxia"></span>
                        </li>
                    </ul>
                </div>
                <div class="tab-content tab-hover">
                    <div class="tab-pane row active" id="newproducts">
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=1003&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-220Z11P93H25.png" alt="A730方舟号"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=1003&lang=cn%5C'><h4>A730方舟号</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=978&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-220Z21T9523I.png" alt="小方糖Z82办公无线机械键盘"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=978&lang=cn%5C'><h4>小方糖Z82办公无线机械键盘</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=View&a=index&aid=938&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-22101013445K27.png" alt="A81有线机械键盘"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=View&a=index&aid=938&lang=cn%5C'><h4>A81有线机械键盘</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=921'><img
                                        src="/static/uploads/thumb/200_200/1-211025143529347.png" alt="A98三模机械键盘"
                                        class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=921'><h4>
                                A98三模机械键盘</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=919&amp;admin_id=1&amp;t=1634552351'><img
                                        src="/static/uploads/thumb/200_200/1-21102514354M43.png" alt="A900"
                                        class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=919&amp;admin_id=1&amp;t=1634552351'>
                                <h4>A900</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=915'><img
                                        src="/uploads/thumb/200_200/1-2110231P214R3.png" alt="A710 5.8G无线耳机"
                                        class="img-responsive"></a>
                            </div>
                            <a href='https://www.dareu.com/?m=home&amp;c=View&amp;a=index&amp;aid=915'><h4>A710
                                5.8G无线耳机</h4></a>
                        </div>
                    </div>
                    <div class="tab-pane row" id="products">
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=21&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/7dc73d7c429f2c989021060f7a18bb3f.png"
                                        alt="游戏鼠标" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=21&lang=cn%5C'><h4>游戏鼠标</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=20&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1Z9251534354W.png" alt="游戏键盘"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=20&lang=cn%5C'><h4>游戏键盘</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=22&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/02635940b61428455c55f6a79b29d3bd.png"
                                        alt="游戏耳机" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=22&lang=cn%5C'><h4>游戏耳机</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=54&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-210R3141340225.png" alt="蓝牙耳机"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=54&lang=cn%5C'><h4>蓝牙耳机</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=56&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/6ab9165b92dbab0c009db7ae40544d87.png"
                                        alt="办公系列" class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=56&lang=cn%5C'><h4>办公系列</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=128&lang=cn%5C'><img
                                        src="/uploads/thumb/200_200/1-210305141454c9.jpeg" alt="达尔优电竞馆"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=128&lang=cn%5C'><h4>达尔优电竞馆</h4></a>
                        </div>
                    </div>
                    <div class="tab-pane row" id="internetbar">
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=100&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1ZZ60Z63D23.png" alt="网吧鼠标"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=100&lang=cn%5C'><h4>网吧鼠标</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=102&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1ZZ60ZTWc.png" alt="网咖键盘"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=102&lang=cn%5C'><h4>网咖键盘</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=104&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1ZZ6091006345.png" alt="网咖耳机"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=104&lang=cn%5C'><h4>网咖耳机</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=106&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1ZZ6091111491.png" alt="网咖周边"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=106&lang=cn%5C'><h4>网咖周边</h4></a>
                        </div>
                        <div class="col-xs-4">
                            <div>
                                <a href='/?m=home&c=Lists&a=index&tid=108&lang=cn%5C'><img
                                        src="/static/uploads/thumb/200_200/1-1ZZ6091230917.png" alt="网咖套装"
                                        class="img-responsive"></a>
                            </div>
                            <a href='/?m=home&c=Lists&a=index&tid=108&lang=cn%5C'><h4>网咖套装</h4></a>
                        </div>
                    </div>
                    <div class="tab-pane row" id="electronic">
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 下拉栏目 结束-->
</header>
<!-- 头部 结束-->
<div class="header-m"></div>
<div class="header-m2"></div>
<div class="top-er-nav hidden-xs">
    <!-- <img src="/uploads/allimg/20190817/fa26b1d7e9302fe08a05a4314d5ac158.png" alt=""> -->
    <a href="/?m=home&c=Lists&a=index&tid=21&lang=cn%5C">游戏鼠标</a></li>
    <a href="/?m=home&c=Lists&a=index&tid=20&lang=cn%5C">游戏键盘</a></li>
    <a href="/?m=home&c=Lists&a=index&tid=22&lang=cn%5C">游戏耳机</a></li>
    <a href="/?m=home&c=Lists&a=index&tid=54&lang=cn%5C">蓝牙耳机</a></li>
    <a href="/?m=home&c=Lists&a=index&tid=56&lang=cn%5C">办公系列</a></li>
    <a href="/?m=home&c=Lists&a=index&tid=128&lang=cn%5C">达尔优电竞馆</a></li>
</div>
<!-- banner 开始-->
<div class="banner-ny">
    <img src="/static/uploads/thumb/605_605/viper_mini.png" alt="为电竞而生" class="img-responsive"/>
    <div class="pro-wenan">
        <div class="middle">
            <h3>游戏鼠标</h3>
            <h2>为电竞而生</h2>
            <h4></h4>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><p class="dec">实现更好的操控。</p></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="container screen">
            <div class="row">
                <div class="col-xs-12 clear-col-m">
                    <ul class="nav1">
                        <li data-multifilter="all" class="all active1">All products</li>
                        <li data-multifilter="1" class="other">有线</li>
                        <li data-multifilter="2" class="other">2.4G/无线</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner 结束-->
<!-- 产品列表 开始-->
    {% for i in goods_spu %}
<div class="container-fuild">

    <div class="row clear-row-m">
        <div class="col-md-4 col-xs-6 list-pro-b-m filtr-item" data-category="{{ i.select }}">
            <a href="" title="{{ i.sp_details }}">
                <div class="pro-img"><img src="/static/uploads/thumb/605_605/{{ i.sp_picture.name }}" alt="{{ i.sp_details }}"
                                          class="img-responsive pro-958"></div>
                <h4 class="pro-list-title">{{ i.sp_name }}</h4>
                <span class="pro-list-vicetitle">        </span>
            </a>

            <div class="new">
                NEW
            </div>
        </div>
{#        <div class="col-md-4 col-xs-6 list-pro-b-m filtr-item" data-category="1,3">#}
{#            <a href="/?m=home&c=View&a=index&aid=1002&lang=cn%5C" title="A950三模无线鼠标">#}
{#                <div class="pro-img"><img src={{ i.sp_picture }} alt="A950三模无线鼠标"#}
{#                                          class="img-responsive pro-1002" width="1500" height="1000"></div>#}
{#                <h4 class="pro-list-title">aerox9</h4>#}
{#                <span class="pro-list-vicetitle">        </span>#}
{#            </a>#}
{##}
{#            <div class="new">#}
{#                NEW#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4 col-xs-6 list-pro-b-m filtr-item" data-category="1,2,4">#}
{#            <a href="/?m=home&c=View&a=index&aid=545&lang=cn%5C" title="A960">#}
{#                <div class="pro-img"><img src="/static/uploads/thumb/605_605/gpx.jpg" alt="A960"#}
{#                                          class="img-responsive pro-545"/></div>#}
{#                <h4 class="pro-list-title">gpx</h4>#}
{#                <span class="pro-list-vicetitle">     </span>#}
{#            </a>#}
{##}
{#            <div class="new">#}
{#                NEW#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-md-4 col-xs-6 list-pro-b-m filtr-item" data-category="1,4">#}
{#            <a href="/?m=home&c=View&a=index&aid=547&lang=cn%5C" title="EM922">#}
{#                <div class="pro-img"><img src="/static/uploads/thumb/605_605/viper3.jpg" alt="EM922"#}
{#                                          class="img-responsive pro-547"/></div>#}
{#                <h4 class="pro-list-title">Viper</h4>#}
{#                <span class="pro-list-vicetitle"> </span>#}
{#            </a>#}
{##}
{##}
{#        </div>#}
    </div>

</div>
    {% endfor %}
<!-- 产品列表 结束-->
<!-- 底部白色筛选 开始-->

<!-- 底部菜单 开始-->
<div class="bottom-nav">
    <div class="container-fuild bottom-container">
        <div class="row clear-row-m">
            <div class="col-lg-2"></div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-1">
                <dl>
                    <dt>产品展示</dt>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=21&lang=cn%5C" title="游戏鼠标">游戏鼠标</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=20&lang=cn%5C" title="游戏键盘">游戏键盘</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=22&lang=cn%5C" title="游戏耳机">游戏耳机</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=54&lang=cn%5C" title="蓝牙耳机">蓝牙耳机</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=56&lang=cn%5C" title="办公系列">办公系列</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=128&lang=cn%5C" title="达尔优电竞馆">达尔优电竞馆</a></dd>
                </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-2">
                <dl>
                    <dt>游戏</dt>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=60&lang=cn%5C" title="电子竞技">电子竞技</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=62&lang=cn%5C" title="伙伴计划">伙伴计划</a></dd>
                </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-3">
                <dl>
                    <dt>驱动程序/支持</dt>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=66&lang=cn%5C" title="驱动">驱动</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=68&lang=cn%5C" title="支持">支持</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=70&lang=cn%5C" title="隐私政策">隐私政策</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=72&lang=cn%5C" title="条款和条约">条款和条约</a></dd>
                </dl>
            </div>
            <div class="col-md-3 col-lg-2 col-xs-12 bt-4">
                <dl>
                    <dt>关于我们</dt>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=82&lang=cn%5C" title="达尔优简介">达尔优简介</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=2&lang=cn%5C" title="新闻资讯">新闻资讯</a></dd>
                    <dd><a href="/?m=home&c=Lists&a=index&tid=126&lang=cn%5C" title="产品电子说明书">产品电子说明书</a></dd>
                    <dd><a href="https://weibo.com/p/1006062949924650/home?from=page_100606&mod=TAB&is_all=1#place"></a>
                    </dd>
                    <dd class="wechat"></dd>
                </dl>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>
<!-- 底部菜单 结束-->
<!-- foot 开始-->
<div class="footer">
    <div class="footer-main">

        <div class='bottom-logo'></div>
        <div class="bottom-v-m">版权所有：SPT2206 &nbsp;&nbsp; 电话：4006-810-510 <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号</a>
            <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-3</a>
            <a href='http://beian.miit.gov.cn/'>粤ICP备10037798号-4</a>
            <script>
                var _hmt = _hmt || [];
                (function () {
                    var hm = document.createElement("script");
                    hm.src = "https://hm.baidu.com/hm.js?b9ae385da42aa21b773785abdb868eaf";
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(hm, s);
                })();
            </script>
            <script type="text/javascript">
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1261456925'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1261456925%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
            </script>
        </div>

    </div>
</div>
<!-- foot 结束-->
<script>
    $(function () {
        $('.wechat').click(function (w) {
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                shadeClose: true,
                skin: 'yourclass',
                content: '<img src="/static/uploads/allimg/20190918/1-1Z91R14340534.png" alt="" class="img-responsive" width="200">'
            });
        })
    })
    //     var type=navigator.appName
    // if(type == "Netscape")
    // var lang = navigator.language
    // 	else
    // 		var  lang = navigator.userLanguage

    // 	console.log(lang)

    // 	var lang = lang.substr(0,2)

    // 	if(lang == "zh")
    // 	window.location.replace('https://www.dareu.com')

    // 	else
    // 	window.location.replace('https://en.dareu.com')
</script>

</body>
<script>
    function exchange_element(a, b) {
        if (undefined == $(a).html()) {
            return;
        }
        if (undefined == $(b).html()) {
            return;
        }
        var $div1 = $(a);
        var $div3 = $(b);
        var $temobj1 = $("<div></div>");
        var $temobj2 = $("<div></div>");
        $temobj1.insertBefore($div1);
        $temobj2.insertBefore($div3);
        $div1.insertAfter($temobj2);
        $div3.insertAfter($temobj1);
        $temobj1.remove();
        $temobj2.remove();
    }

    $(function () {
        $('select').on('change', function () {
            var idb = $(this).attr('data-id');
            var idc = $(this).val();
            var bob = $("#" + idb);
            var cob = $("#" + idc);
            exchange_element(bob, cob);
            $(this).find("option").attr("selected", false);
        });
    });
</script>
</html>
